@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #18181B;
    font-family: Epilogue;
}

@layer components {
    .container {
        @apply max-w-screen-md mx-auto px-4 md:px-12 lg:px-24 pt-8 pb-4
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar-visible::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar-visible {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}